html {
  background-color: #484848;
  padding: 0px 30px;
  height: 101%; /* 101 keeps the scroll bar always present to avoid ltr jumping */
}

body {
  width: 800px;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
}


#title {
  padding: 21px 30px;
  border-bottom: 1px solid #E5E5E5;
}

/* Highlighted lists page: ui containers */

.line {
  margin: 0;
  padding: 8px 30px;
}

.line-shaded {
  margin: 0;
  padding: 4px 30px;
  background: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
}

.line-hover, .line-nohover {
  margin: 0;
  padding: 4px 30px;
  min-height: 46px;
}

.line-hover:hover {
  background-color: #F9EDBE;
}

/* Desktop sizing */

.col-amount, .col-face, .col-annotation, .col-status {
  height: 46px;
}
.col-face {
  width: 40px;
  max-width: 40px; /* for id block */
}
.col-annotation {
  width: 220px;
  padding-left: 10px;
}
.col-amount { 
  width: 130px;
}
.col-desc {
  width: 260px;
  padding-right: 10px;
}
.col-paidbutton {
  width: 60px;
  padding-right: 10px;
}

/* Desktop formatting */

.amount {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 20px;
}

.currency {
  font-variant: small-caps;
  font-size: 14px;
  vertical-align: top;
}



