html, body {
  margin: 0;
  width: 100%; 
}

#title {
  padding: 16px 8px;
  border-top: 1px solid #E5E5E5;
}

/* form page (shitty submit page) */

form {
  display: table;
}
input {
  width: 200px;
  margin: 0.3em;
}

/* Highlighted lists page: ui containers */

.line {
  margin: 0;
  padding: 8px 8px;
  border-top: 1px solid #E5E5E5;
}

.line-shaded {
  margin: 0;
  padding: 4px 8px;
  background: #F5F5F5;
  border-top: 1px solid #E5E5E5;
}

.line-hover, .line-nohover {
  margin: 0;
  padding: 4px 8px;
  border-top: 1px solid #E5E5E5;
}

/* Mobile sizing */

.col-mobileleft { 
  width: 40px !important;
  padding-right: 8px;
}

.col-mobileright {
  width: 256px !important;
  padding: 0;
}

/* Mobile formatting */

.amount {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 16px;
  font-weight: bold;
}

.currency {
  font-variant: small-caps;
  font-size: 12px;
  vertical-align: top;
}


