body {
  background-color: #FFF;

  color: #333;
  font-size: 13px;
  font-family: arial, sans-serif;
  line-height: 18px;
}

body strong { color: #222222 }
a:link { color: #1155CC }
a:visited { color: #6611CC }
a:active { color: #50C25B }

#title {
  margin: 0;
  background-color: #F5F5F5;
}
.titletext {
  color: #484848;
  font-size: 20px;
}
.titlesecondary {
  color: #484848;
  font-size: 11px;
}

#navbar {
  padding: 8px 30px;
  background-color: #FFF;
}

/* default for text-only pages */

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 4;
  margin-bottom: 0;
}

/* form page (shitty submit page) */

form {
  display: table;
}
input {
  width: 200px;
  margin: 0.3em;
}

/* box layouting */

.boxl-hparent {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}

.boxl-vparent {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.boxl-content {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-flex: 1;
  -webkit-box-flex: 1;
  -mox-box-flex: 1;
}

.boxl-spacer {
  box-flex: 1000;
  -webkit-box-flex: 1000;
  -moz-box-flex: 1000;
}

/* image divs */

.profile40 {
  background-color: #F5F5F5;
  background-repeat: no-repeat;

  padding: 0;
  margin: 0;
  height: 40px;
  width: 40px;

  border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* text divs */

.simple, .simple strong {
  color: #333;
}

.smalltext {
  color: #666;
  font-size: 11px;
}

.text, .smalltext {
  padding: 1px 0 1px 0px;
  margin: 0;
  /* height should be 18px: 16+1+1 */
}

.text a:link, .text a:visited {
  color: #333;
  text-decoration: none;
}
.text a:hover, .text a:hover strong {
  color: #50C25B;
  text-decoration: none;
}

.shrinky {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* special paynow behavior */

.paynow a:link, .paynow a:visited {
  color: #D14836;
  font-weight: bold;
}
.paynow a:hover, .paynow a:active {
  color: #50C25B;
  font-weight: bold;
}

/* icon */

.icon {
  padding: 0;
  margin: 2px 6px 0px 0px;
  height: 13px;
  width: 13px;

  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.yes {
  background-color: #50C25B;
}

.maybe {
  background-color: #666;
}
.maybetext {
  color: #666;
}

.no {
  background-color: #D14836;
}