  {{ opendiv_linestyle }}
    <div class="boxl-hparent">
      <div class="boxl-vparent boxl-content col-mobileleft">
        <div class="boxl-spacer"></div>
        <div class="boxl-content profile40" style="background-image:url('{{ url_seller_picture }}');"></div>
        <div class="boxl-spacer"></div>
      </div>
      <div class="boxl-vparent boxl-content col-mobileright">
        <div class="boxl-spacer"></div>
        <div class="boxl-content text shrinky"><span class="amount"><span class="currency">{{ text_currency }}&nbsp;</span>{{ text_amount }}</span></div>
        <div class="boxl-content text shrinky">{{ text_seller }} <span class="smalltext">({{ text_email }})</span></div>
        <div class="boxl-content text shrinky">{{ text_description }}</div>
        <div class="boxl-content text shrinky">{{ div_paid }}{{ text_paid }}{{ text_paynow }}</div>
        <div class="boxl-spacer"></div>
      </div>
    </div>
  </div>